<?xml version="1.0" encoding="UTF-8"?>
<!--
    WiX Toolset installer definition for BlitzArch.
    Build with:
        candle blitzarch.wxs
        light.exe with WixUIExtension

    Notes:
    * This is a minimal template. Adjust upgrade GUIDs, icons, shortcuts, EULA, etc.
    * Output EXE path assumes cargo build release mode.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Name="BlitzArch"
           Language="1033"
           Version="0.1.0"
           Manufacturer="BlitzArch Project"
           UpgradeCode="A2F47D19-2F4B-4A09-9E2F-7C2A6F4C9C1D">

    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

    <MediaTemplate />

    <Feature Id="Complete" Level="1">
      <ComponentGroupRef Id="FilesGroup" />
      <ComponentRef Id="ProgramMenuDir" />
    </Feature>

    <!-- Add Start Menu shortcut -->
    <UIRef Id="WixUI_InstallDir" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="BlitzArch" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="BlitzArch">
          <Component Id="ProgramMenuDir" Guid="*">
            <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\BlitzArch" 
                         Name="startmenu" Type="integer" Value="1" KeyPath="yes"/>
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <ComponentGroup Id="FilesGroup" Directory="INSTALLFOLDER">
      <!-- Main executable -->
      <Component Id="cmpBlitzArchExe" Guid="*">
        <File Id="filBlitzArchExe" Source="..\\target\\release\\blitzarch.exe" />

        <!-- Registry key for component -->        
        <RegistryValue Root="HKCU" Key="Software\\BlitzArch"
                       Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        
        <!-- Shortcut -->
        <Shortcut Id="BlitzArchShortcut"
                  Directory="ProgramMenuDir"
                  Name="BlitzArch"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="BlitzIcon"
                  Advertise="no"
                  Target="[INSTALLFOLDER]blitzarch.exe" />
      </Component>
    </ComponentGroup>

    <!-- Icon resource -->
    <Icon Id="BlitzIcon" SourceFile="..\\assets\\blitzarch.ico" />

  </Product>
</Wix>
